:root { --bg: #020617; --green: #22c55e; --glass: rgba(255, 255, 255, .08); }
* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Poppins', sans-serif; }
body { min-height: 100vh; background: radial-gradient(circle at top, #0b1220, var(--bg)); display: flex; align-items: center; justify-content: center; color: #e5e7eb; }
.auth-card { width: 380px; background: rgba(20, 30, 40, .95); padding: 35px; border-radius: 28px; border: 1px solid rgba(255, 255, 255, 0.1); }
.auth-card h2 span { color: var(--green); }
.sub { text-align: center; font-size: 14px; color: #94a3b8; margin-bottom: 25px; }
label { font-size: 14px; margin-top: 15px; display: block; }
input, select { width: 100%; margin-top: 8px; padding: 12px; border-radius: 12px; border: none; background: var(--glass); color: #fff; outline: none; }
button { margin-top: 25px; width: 100%; padding: 14px; border-radius: 30px; border: none; background: linear-gradient(135deg, #22c55e, #4ade80); color: #000; font-weight: 700; cursor: pointer; }
.switch { margin-top: 20px; text-align: center; font-size: 14px; }
.switch a { color: var(--green); text-decoration: none; }

.auth-wrapper{
  width:100%;
  display:flex;
  justify-content:center;
}

.auth-card{
  width:380px;
  background:rgba(20,30,40,.95);
  padding:35px;
  border-radius:28px;
  box-shadow:0 0 40px rgba(0,0,0,.6);
}

.auth-card h2{
  text-align:center;
  font-size:28px;
}
.auth-card span{color:var(--green);}

.sub{
  text-align:center;
  font-size:14px;
  color:#94a3b8;
  margin-bottom:25px;
}

label{
  font-size:14px;
  margin-top:12px;
  display:block;
}

input{
  width:100%;
  margin-top:6px;
  padding:12px;
  border-radius:14px;
  border:none;
  background:var(--glass);
  color:#fff;
}

button{
  margin-top:25px;
  width:100%;
  padding:14px;
  border-radius:30px;
  border:none;
  background:linear-gradient(135deg,#22c55e,#4ade80);
  color:#000;
  font-weight:700;
  cursor:pointer;
}

.switch{
  margin-top:20px;
  text-align:center;
  font-size:14px;
}
.switch a{
  color:var(--green);
  text-decoration:none;
}
